# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.  Python
2.  R
3.  Scala

**Objectives:**
* Take the certificate
* Learning to see what IBM teach us
* To understand how good Jupyter Notebook is

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. SciPy

<table>
    <th>
        Data Science Tools
    </th>
    <tr>
        <td>Seaborn</td>
    </tr>
    <tr>       
        <td>PyTorch</td>       
    </tr>
    <tr>       
        <td>Jupyter Notebook</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
My Name